<!DOCTYPE html>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{layout}">

<head>
    <title layout:fragment="title">myParty | Edit RSVP (Member)</title>
    <link href="/success.css" rel="stylesheet"/>

</head>

<section class="bg-transparent text-white" layout:fragment="content">
    <p>
    <div class="row justify-content-center bg-transparent">
        <div class="col bg-transparent">
            <a href="/profile" class="button glow-button">Return to Profile</a>
        </div>
    </div>
    </p>
    <div class="container">
        <br>

        <div class="row">
            <div class="col">
                <h1 class="neonText">Edit your Rsvp</h1>
            </div>
        </div>

        <!--Show The Party Info-->
        <div class="row text-white">
            <div class="col">
                <div class="card-body text-white">
                    <div th:text="${party.title}"></div>
                    <div th:text="${party.description}"></div>
                    <div th:text="'Start Time: ' + ${startTime}"></div>
                    <div th:text=" 'End Time: ' + ${endTime}"></div>
                    <div th:text="'Organizer: ' + ${party.owner.firstName + ' ' + party.owner.lastName}"></div>
                    <div th:text="'Location: ' + ${location}"></div>
                </div>
            </div>
        </div>

        <!--Form to RSVP for Party-->
        <form th:action="@{|/rsvp/${party.urlKey}/member/${partyMember.partyMemberKey}/edit|}" th:method="post" th:object="${partyMember}" style="display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-content: space-around;
    justify-content: space-around;
    align-items: stretch;">
            <div class="row justify-content-center align-items-center text-white">
                <!--Prefilled Member Information-->
                <div class="col">
                    <div class="row-4">
                        <div class="col text-end">
                            <label class="control-label" for="name">Name: </label>
                        </div>
                    </div>

                    <br>

                    <div class="row-4">
                        <div class="col text-end">
                            <label class="control-label" for="email">Email: </label>
                        </div>
                    </div>

                    <br>

                    <div class="row">
                        <div class="col text-end">
                            <label class="control-label"for="rsvp">RSVP: </label>
                            <select id="rsvp" name="rsvp">
                                <th:block th:each="rsvp: ${rsvps}">
                                    <th:block th:if="${partyMember.rsvpStatus.toString().equals(rsvp)}">
                                        <option th:value="${rsvp}" th:text="${rsvp}" selected></option>
                                    </th:block>
                                    <th:block th:if="${!partyMember.rsvpStatus.toString().equals(rsvp)}">
                                        <option th:value="${rsvp}" th:text="${rsvp}"></option>
                                    </th:block>
                                </th:block>
                            </select>
                        </div>
                    </div>
                </div>

                <div class="col">
                    <div class="row-4">
                        <div class="col text-start">
                            <div id="name" th:text="${partyMember.member.firstName} + ' ' + ${partyMember.member.lastName}"></div>
                        </div>
                    </div>

                    <br>

                    <div class="row-4">
                        <div class="col text-start">
                            <div id="email" th:text="${partyMember.member.email}"></div>
                        </div>
                    </div>

                    <br>

                    <div class="row">
                        <div class="col text-start">
                            <label class="control-label" for="additionalGuests">Additional Guests:</label>
                            <select id="additionalGuests" th:field="*{additionalGuests}">
                                <div th:each="additionalGuest : ${additionalGuests}">
                                    <option th:value="${additionalGuest}" th:text="${additionalGuest}"></option>
                                </div>
                            </select>
                        </div>
                    </div>
                    <input type="hidden" th:field="*{id}" th:placeholder="${partyMember.id}">
                </div>
            </div>

            <br>

            <!--Sign Up For Items -->
            <div class="p-2 bg-transparent text-white">
                <div class="row justify-content-center">
                    <div class="table-responsive">
                        <table id="example2" class="table text-white">
                            <h3>Item Signup</h3>

                            <thead>
                                <tr>
                                    <th>Item</th>
                                    <th>Quantity Requested</th>
                                    <th>Quantity You're Bringing</th>
                                </tr>
                            </thead>

                            <tbody>
                                <tr class="form-group" th:each="itemBringer : ${itemBringers}">
                                    <td th:text="${itemBringer.key.partyItem.item.name}"></td>
                                    <td th:text="${itemBringer.key.partyItem.quantityRequired}"></td>
                                    <td>
                                        <select name="quantity[]">
                                            <option th:each="quantity : ${itemBringer.value}" th:text="${quantity}" th:value="${quantity}" th:selected="${itemBringer.key.quantity == quantity}"></option>
                                        </select>
                                    </td>
                                    <input type="hidden" name="itemBringer[]" th:value="${itemBringer.key.id}">
                                    <input type="hidden" name="partyItem[]" th:value="${itemBringer.key.partyItem.id}">
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col">
                    <input id="createP" type="submit" value="Submit" class="btn btn-dark" style="background-color: #ce5ece"/>
                </div>
            </div>

            <br>

        </form>
    </div>
</section>

<footer><p layout:fragment="custom-footer">This is actually working</p></footer>
</html>
