<!DOCTYPE html>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" xmlns="http://www.w3.org/1999/html"
      layout:decorate="~{layout}">
<head>
  <script src="https://cdn.jsdelivr.net/npm/party-js@latest/bundle/party.min.js"></script>
  <link href="/success.css" rel="stylesheet"/>

<title layout:fragment="title">myParty | RSVP Success</title>
</head>

<section layout:fragment="content" >
  <div class="card bg-dark text-white">
    <img class="card-img" src="/img/partay2.png" alt="Card image">
    <div class="card-img-overlay">
      <h1 id="partyon" class="card-title" style="color: white">You Registered for this Party!</h1>
      <div style="
           display: flex;
           flex-direction: column;
           flex-wrap: wrap;
           align-content: stretch;
           justify-content: flex-end;
           align-items: center;
           }">
    <a th:href="@{|${url}|}" class="neons">View RSVP</a>
      </div>
  </div>
  </div>
    <!--     Confetti Animation-->
    <script>
      party.confetti(document.getElementById("partyon"))
    </script>



</section>

<footer><p layout:fragment="custom-footer">This is actually working</p></footer>
</html>