<!DOCTYPE html>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" xmlns="http://www.w3.org/1999/html"
      layout:decorate="~{layout}">

<title layout:fragment="title">myParty | RSVP Success</title>

<section layout:fragment="content">
  <h1>You Registered for this Party!</h1>
  <label for="editUrl">View/Edit Your RSVP With This Link:</label>
  <div id="editUrl" th:text="'http://localhost:8080/rsvp/' + ${urlKey} + '/member/' + ${partyMemberKey} + '/view'"/></div>

</section>

<footer><p layout:fragment="custom-footer">This is actually working</p></footer>
</html>