<!DOCTYPE html>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{layout}">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title layout:fragment="title">myParty | View RSVP (Member)</title>
    <link href='https://api.mapbox.com/mapbox-gl-js/v2.3.1/mapbox-gl.css' rel='stylesheet' />
</head>

<div class="container-fluid">
   <section layout:fragment="content">
       <div class="card align-center">
           <div class="card-header">
             This is your RSVP
           </div>
           <a th:href="'/rsvp/' + ${urlKey} + '/member/' + ${partyMemberKey} + '/edit'" class="btn btn-dark">Edit Your RSVP</a>

       <!--Show RSVP Information-->
       <div class="card-body" style="font-size: 22px">
           <!--Basic Party Member Information-->
           <div class="d-flex justify-content-around">
           <div th:text="'Name: ' + ${partyMember.member.firstName} + ' ' + ${partyMember.member.lastName}"></div>
           <div th:text="'Email: ' + ${partyMember.member.email}"></div>
           <div th:text="'RSVP Status: ' + ${partyMember.rsvpStatus}"></div>
           <div th:text="'Additional Guests Bringing: ' + ${partyMember.additionalGuests}"></div>
           </div>
       </div>
       <!--Item Information-->
           <div class="p-2 bd-highlight">
               <div class="container">
                   <div class="row justify-content-center">
                       <div class="table-responsive">
                           <table id="example" class="table table-bordered">
                               <thead>
                               <tr>
                                   <th>Item to Bring </th>
                                   <th>Quantity Requested</th>
                                   <th>Quantity Remaining</th>
                               </tr>
                               </thead>
                               <tbody>
                               <tr th:each="itemBringer : ${itemBringers}">
                                   <td th:text="${itemBringer.key.partyItem.item.name}"></td>
                                   <td th:text="${itemBringer.key.partyItem.quantityRequired}"></td>
                                   <td th:text="${itemBringer.key.quantity}"></td>
                               </tr>
                               </tbody>
                           </table>
                       </div>
                   </div>
               </div>
           </div>

    <!--Show The Party Info-->
           <div class="card-body" style="font-size: 16px">
           <div class="d-flex justify-content-around">
           <div th:text="'Organizer: ' + ${party.owner.firstName + ' ' + party.owner.lastName}"></div>
           <div th:text="'Title: ' + ${party.title}"></div>
           <div th:text="'Details: ' + ${party.description}"></div>
           </div>
               <div class="d-flex justify-content-around">
               <div th:text="'Start Time: ' + ${startTime}"></div>
               <div th:text="'End Time: ' + ${endTime}"></div>
           <div th:text="${party.location.addressOne} + ', ' + ${party.location.city} + ', ' + ${party.location.state} + ', ' + ${party.location.zipcode}" id="fullAddress"></div>
               </div>
               </div>
        <!--TODO: Logic to show addressTwo if not null-->
           <div class="d-flex justify-content-center">
           <div id='map' style='width: 25%; height: 40vh'></div>
           </div>

    <script src='https://api.mapbox.com/mapbox-gl-js/v2.3.1/mapbox-gl.js'></script>

    <!--Generate Map Information-->
    <script src="/keys.js"></script>
    <script src="/js/jquery.js"></script>
    <script src="/js/mapbox-geocoder-utils.js"></script>
    <script>
        const address = $("#fullAddress").html();

        geocode(address, mapboxApiKey).then(function (result) {
            mapboxgl.accessToken = mapboxApiKey;

            var map = new mapboxgl.Map({
                container: 'map',
                style: 'mapbox://styles/mapbox/streets-v9',
                zoom: 15,
                center: (result)
            });

            var marker = new mapboxgl.Marker({
                draggable: true
            }).setLngLat(result).addTo(map);

        });
    </script>
</section>
<footer><p layout:fragment="footer"></p></footer>
</html>