<!DOCTYPE html>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{layout}">

<head>
    <title layout:fragment="title">myParty | View RSVP (Member)</title>
    <script src='https://api.mapbox.com/mapbox-gl-js/v2.3.1/mapbox-gl.js'></script>
    <link href='https://api.mapbox.com/mapbox-gl-js/v2.3.1/mapbox-gl.css' rel='stylesheet' />
</head>

<section layout:fragment="content">

    <h1>Your RSVP Information</h1>
    <a th:href="'/rsvp/' + ${urlKey} + '/member/' + ${partyMemberKey} + '/edit'" class="btn btn-primary">Edit Your RSVP</a>

    <!--Show The Party Info-->
    <div>
        <div th:text="${party.title}"></div>
        <div th:text="${party.description}"></div>
        <div th:text="'Start Time: ' + ${party.startTime}"></div>
        <div th:text="'End Time: ' + ${party.endTime}"></div>
        <div th:text="'Organizer: ' + ${party.owner.firstName + ' ' + party.owner.lastName}"></div>
        <div th:text="${party.location.addressOne} + ', ' + ${party.location.city} + ', ' + ${party.location.state} + ', ' + ${party.location.zipcode}" id="fullAddress"></div>
        <!--TODO: Logic to show addressTwo if not null-->

        <div id='map' style='width: 25%; height: 40vh'></div>
    </div>

    <!--Show RSVP Information-->
    <div>
        <!--Basic Party Member Information-->
        <div th:text="'Name: ' + ${partyMember.member.firstName} + ' ' + ${partyMember.member.lastName}"></div>
        <div th:text="'Email: ' + ${partyMember.member.email}"></div>
        <div th:text="'RSVP Status: ' + ${partyMember.rsvpStatus}"></div>
        <div th:text="'Additional Guests Bringing: ' + ${partyMember.additionalGuests}"></div>

        <!--Item Information-->
        <div>
            <table>
                <tr>
                    <th>Item</th>
                    <th>Quantity Requested</th>
                    <th>Quantity You're Bringing</th>
                </tr>

                <tr th:each="itemBringer : ${itemBringers}">
                    <td th:text="${itemBringer.key.partyItem.item.name}"></td>
                    <td th:text="${itemBringer.key.partyItem.quantityRequired}"></td>
                    <td th:text="${itemBringer.key.quantity}"></td>
                    <br>
                </tr>
            </table>
        </div>
    </div>


    <!--Generate Map Information-->
    <script src="/keys.js"></script>
    <script src="/js/jquery.js"></script>
    <script src="/js/mapbox-geocoder-utils.js"></script>
    <script>
        const address = $("#fullAddress").html();

        geocode(address, mapboxApiKey).then(function (result) {
            mapboxgl.accessToken = mapboxApiKey;

            var map = new mapboxgl.Map({
                container: 'map',
                style: 'mapbox://styles/mapbox/streets-v9',
                zoom: 15,
                center: (result)
            });

            var marker = new mapboxgl.Marker({
                draggable: true
            }).setLngLat(result).addTo(map);

        });
    </script>

</section>
<footer><p layout:fragment="custom-footer">This is actually working</p></footer>
</html>