<!DOCTYPE html>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{layout}">

<title layout:fragment="title">My Party | Add Items</title>

<script src="https://code.jquery.com/jquery-2.2.4.min.js" integrity="sha256-BbhdlvQf/xTY9gja0Dq3HiwQF8LaCRTXxZKRutelT44=" crossorigin="anonymous"></script>

<section layout:fragment="content">
  <h1>Add Items to Your Party!</h1>
   <form th:action="@{|/parties/items/${party.urlKey}|}" th:method="post">
       <div id="additionalItems">
           <div class="form-group">
               <label for="name[]">Item Name:</label>
               <input type="text" name="name[]" id="name[]">

               <label for="quantity[]">Quantity:</label>
               <input type="text" name="quantity[]" id="quantity[]">
           </div>
       </div>
       <button id="addItemButton">Add Another Item</button>
       <input type="submit" value="Submit"/>
   </form>

    <script>
        window.onload = (function() {
            const additionalItem = document.getElementById('addItemButton');

            const itemForm = `<div class="form-group">
                  <label for="name[]">Item Name:</label>
                  <input type="text" name="name[]" id="name[]">

                  <label for="quantity[]">Quantity:</label>
                  <input type="text" name="quantity[]" id="quantity[]">
                </div>`

            additionalItem.addEventListener('click', function(event) {
                event.preventDefault();


                const testyBoi = document.getElementById('additionalItems');
                let newItem = document.createElement("div");
                newItem.innerHTML = itemForm;
                testyBoi.appendChild(newItem);
         });
     })
    </script>

</section>

<footer><p layout:fragment="custom-footer">This is actually working</p></footer>

</html>

