<!DOCTYPE html>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{layout}">

<title layout:fragment="title">myParty | Edit Party</title>

<section layout:fragment="content">
    <div class="container">
        <div class="hero-unit">
            <h1>Edit Party</h1>

            <form th:action="@{|/parties/edit/${id}|}" th:method="post">

                <label for="title">Title:</label>
                <input name="title" type="text" id="title" th:value="${title}"/>

                <label for="description">Description:</label>
                <input name="description" type="text" id="description"th:value="${description}"/>

                <label for="startTime">Start Time:</label>
                <input name="startTime" id="startTime" type="datetime-local" th:datetime="${startTime}"/>

                <label for="startTime">End Time:</label>
                <input name="endTime" type="datetime-local" th:datetime="${endTime}"/>

                <label for="addressOne">Street Address:</label>
                <input name="addressOne" id="addressOne" type="text" th:value="${addressOne}"/>

                <label for="addressTwo">Apt/Ste/Floor:</label>
                <input name="addressTwo" id="addressTwo" type="text" th:value="${addressTwo}"/>

                <label for="city">City:</label>
                <input name="city" id="city" type="text" th:value="${city}"/>

                <label for="state">State:</label>
                <input name="state" id="state" type="text" th:value="${state}"/>

                <label for="zipcode">Zipcode:</label>
                <input name="zipcode" id="zipcode" type="number" th:value="${zipcode}"/>

                <input type="submit"/>
            </form>
        </div>
    </div>
</section>

<footer><p layout:fragment="custom-footer">This is actually working</p></footer>

</html>