<!DOCTYPE html>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout}">
    <title>Edit Party</title>
    <title layout:fragment="title" >
        Edit Party
    </title>
    <section layout:fragment="content">

        <div class="container">
            <div class="hero-unit">
                <h1>Edit Party</h1>
            </div>

<body>


<!--<nav th:replace="partials/memberNavbar :: navbar"></nav>-->


<form th:action="@{|/parties/edit/${id}|}" th:method="post">

    Title:
<!--    <input th:field="*{title}" />-->
    <input name="title" type="text" th:value="${title}"/>
    <br />
    Description:
<!--    <input th:field="*{description}" />-->
    <input name="description" type="text" th:value="${description}"/>

    <br />
    Start Time
    <input name="startTime" type="datetime-local" th:datetime="${startTime}"/>
    <br />
    End Time
    <input name="endTime" type="datetime-local" th:datetime="${endTime}"/>
    <br />
    Address one
    <input name="address_one" type="text" th:value="${address_one}"/>
    <br />
    Address two
    <input name="address_two" type="text" th:value="${address_two}"/>
    <br />
    City
    <input name="city" type="text" th:value="${city}"/>
    <br />
    State
    <input name="state" type="text" th:value="${state}"/>
    <br />
    Zipcode
    <input name="zipcode" type="number" th:value="${zipcode}"/>
    <br />
    <input type="submit" />

</form>

</body>
</html>