<!DOCTYPE html>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{layout}">
<title layout:fragment="title">My Party | Items List</title>
<section layout:fragment="content">

    <h1>Party Items</h1>
    <form th:action="@{/parties/items}" th:method="post" th:object="${partyItem}">
        <table>
            <tr>
                <th>Items Needed</th>
                    <li>Hot dogs </li>
                    <li>Chips </li>
                    <li>Soda </li>
                    <li>Salsa </li>
                    <li>Salad </li>
                <th>Quantity Needed</th>
            </tr>

            <div th:each="partyItem : ${partyItems}">
                <tr class="form-group">
                    <td th:text="${partyItem.item.name}"></td>
                    <td th:text="${partyItem.quantityRequired}"></td> <!--TODO: Make drop down eventually-->
                    <td><input type="text" name="quantity[]"></td>
                    <input type="hidden" name="partyItem[]" th:value="${partyItem.id}">
                </tr>
            </div>
        </table>
    </form>
</section>
</html>