<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Success! <br/> Party has been created</title>
</head>
<body>
gfjjhghjgjhghgjhg
<form th:action="@{/parties/success}" th:method="post" th:object="${party}">
    Custom Url:
    <input name="customUrl" />
    <br />
    Custom Message:
    <input name="customMessage" />
    <br />
    Email addresses:
    <input name="emailAddresses" />
    <br />

    <input type="submit" />
</form>

</body>
</html>