body {
    margin: 0;
    padding: 0;
    background-color: #F5F5DC;
}

#partymessage {
    font-size: 5rem;
    text-align: center;
    height: 60vh;
    line-height: 60vh;
    color: #fcedd8;
    background-color: #263238;
    font-family: "Niconne", cursive;
    font-weight: 700;
    text-shadow: 5px 5px 0 #eb452b, 10px 10px 0 #efa032, 15px 15px 0 #46b59b,
    20px 20px 0 #017e7f, 25px 25px 0 #052939, 30px 30px 0 #c11a2b;
}

h3, h2 {
    align-items: baseline;
    display: flex;
    justify-content: center;
    font-size: 1.17em;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-weight: bold;
}

form {
    display: flex;
    flex-direction: column;
    width: 50%;
    align-content: center;
    align-items: flex-start;
    justify-content: flex-start;
    flex-wrap: wrap;
    margin: auto;
}