<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>RSVP </title>
</head>
<body>

<h1>Complete Your RSVP</h1>

<!--Form for Showing The Party Info-->
<div>
    <div th:text="${party.id}"></div>
    <div th:text="${party.title}"></div>
    <div th:text="${party.description}"></div>
    <div th:text="${party.start_time}"></div>
    <div th:text="${party.end_time}"></div>
    <div th:text="${party.owner.first_name + ' ' + party.owner.last_name}"></div>
    <div th:text="${party.location.address_one}"></div>
    <div th:text="${party.location.city}"></div>
    <div th:text="${party.location.state}"></div>
    <div th:text="${party.location.zipcode}"></div>
    <!--TODO: List Party Items (forEach?) -->
    <!--TODO: For loop each party tag -->
</div>




</body>
</html>