<!DOCTYPE html>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout}">

<title layout:fragment="title">myParty | Forgot Password</title>
<body>
<section layout:fragment="content">
    <h1>Enter your email to get reset password email</h1>

    <label>Email</label>
    <input id="email" name="email" type="email" value="Email"/>
    <button type="submit">Reset</button>

    <a th:href="@{/sign-up}" >
        Sign up here!
    </a>
    <a th:href="@{/login}">Log in here!</a>

<!--    <script src="jquery.min.js"></script>-->
<!--    <script th:inline="javascript">-->
<!--        var serverContext = [[@{/}]];-->
<!--            function resetPass() {-->
<!--                var email = $("#email").val();-->
<!--                $.post(serverContext + "user/resetPassword", {email: email},-->
<!--                    function (data) {-->
<!--                        window.location.href =-->
<!--                            serverContext + "login?message=" + data.message;-->
<!--                    })-->
<!--                    .fail(function (data) {-->
<!--                        if (data.responseJSON.error.indexOf("MailError") > -1) {-->
<!--                            window.location.href = serverContext + "emailError.html";-->
<!--                        } else {-->
<!--                            window.location.href =-->
<!--                                serverContext + "login?message=" + data.responseJSON.message;-->
<!--                        }-->
<!--                    });-->
<!--            }-->

<!--    </script>-->
</section>
</body>

</html>