<!DOCTYPE html>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout}" lang="en">
<head>
<title layout:fragment="title">myParty | Forgot Password</title>
</head>
<body>
<section layout:fragment="content">

    <div class="container">
        <div class="row">
            <div class="col">
                <h1>Enter your email to reset password</h1>
            </div>
        </div>

        <form th:action="@{/member/resetpassword}" th:method="post">
            <div class="row">
                <div class="col">
                    <label>Email</label>
                    <input id="email" name="email" type="email"/>
                    <button type="submit">Reset</button>
                </div>
            </div>
        </form>

        <br>

        <div class="row justify-content-center">
            <div class="col-2 text-end">
                <a th:href="@{/sign-up}" class="btn btn-light">Sign up here!</a>
            </div>
            <div class="col-2">
                <a th:href="@{/login}" class="btn btn-dark">Log in here!</a>
            </div>
        </div>
    </div>

</section>
</body>
</html>
