<!DOCTYPE html>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout}" lang="en">
<head>
<title layout:fragment="title">myParty | Forgot Password</title>
</head>
<body>
<section layout:fragment="content">
    <h1>Enter your email to reset password</h1>

    <form th:action="@{/member/resetpassword}" th:method="post">
    <label>Email</label>
    <input id="email" name="email" type="email"/>
    <button type="submit">Reset</button>
    </form>
    <a th:href="@{/sign-up}">
        Sign up here!
    </a>
    <a th:href="@{/login}">Log in here!</a>

</section>
</body>
</html>
