<!DOCTYPE html>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" xmlns:th="http://www.w3.org/1999/html"
      layout:decorate="~{layout}">
<head>
  <meta charset="UTF-8">
  <title layout:fragment="title">My Party | Host View</title>
  <script src="https://code.jquery.com/jquery-2.2.4.min.js" integrity="sha256-BbhdlvQf/xTY9gja0Dq3HiwQF8LaCRTXxZKRutelT44=" crossorigin="anonymous"></script>
</head>
<section layout:fragment="content">
  <a href="/profile" class="btn btn-primary">Return to Profile</a>
  <div class="d-flex justify-content-center">

    <div class="d-flex flex-column bd-highlight mb-3">
      <h1 th:text="${party.title}"></h1>
      <h2 th:text="${party.description}"></h2>
      <div th:text="'Start Time: ' + ${party.startTime}"></div>
      <div th:text="'End Time: ' + ${party.endTime}"></div>
      <div th:text="'Organizer: ' + ${party.owner.firstName + ' ' + party.owner.lastName}"></div>
      <div th:text="'Location: ' + ${party.location.addressOne} + ', ' + ${party.location.city}+ ', ' + ${party.location.state} + ', ' + ${party.location.zipcode}"></div>
      <!--TODO: Add logic for show addressTwo if not null-->
    </div>

    <br>

    <div>
      <h1>Party Item Information</h1>
      <div th:each="partyItem: ${partyItems}">
        <div th:text="'Item: ' + ${partyItem.key.item.id}"></div>
        <div th:text="'Item: ' + ${partyItem.key.item.name}"></div>
        <div th:text="'Quantity Required: ' + ${partyItem.key.quantityRequired}"></div>
        <div th:text="'Quantity Remaining: ' + ${partyItem.value}"></div>
        <br>
      </div>
    </div>

    <br>

    <div>
      <h1>Guest Information</h1>
      <div th:each="guest : ${guests}">
        <div th:text="'Name: ' + ${guest.key.firstName} + ' ' + ${guest.key.lastName}"></div>
        <div th:text="'Email: ' + ${guest.key.email}"></div>
        <div th:text="'RSVP Status: ' + ${guest.key.rsvpStatus}"></div>
        <div th:text="'Additional Guests Bringing: ' + ${guest.key.additionalGuests}"></div>

        <div th:each="itemBringer : ${guest.value}">
          <th:block th:if="${itemBringer.quantity != 0}">
            <div th:text="'Item Bringing: ' + ${itemBringer.partyItem.item.name}"></div>
            <div th:text="'Quantity Bringing: ' + ${itemBringer.quantity}"></div>
          </th:block>
        </div>
        <br>
      </div>

      <div th:each="partyMember : ${partyMembers}">
        <div th:text="'Name: ' + ${partyMember.key.member.firstName} + ' ' + ${partyMember.key.member.lastName}"></div>
        <div th:text="'Email: ' + ${partyMember.key.member.email}"></div>
        <div th:text="'RSVP Status: ' + ${partyMember.key.rsvpStatus}"></div>
        <div th:text="'Additional Guests Bringing: ' + ${partyMember.key.additionalGuests}"></div>

        <div th:each="itemBringer : ${partyMember.value}">
          <th:block th:if="${itemBringer.quantity != 0}">
            <div th:text="'Item Bringing: ' + ${itemBringer.partyItem.item.name}"></div>
            <div th:text="'Quantity Bringing: ' + ${itemBringer.quantity}"></div>
          </th:block>
        </div>
        <br>
      </div>

      <div>
        <h2>Send Invites</h2>

        <form th:action="@{|/parties/${party.urlKey}|}" th:method="post">
          <div id="additionalEmails">
            <div class="form-group">
              <label for="email[]">Email Address:</label>
              <input type="email" name="email[]" id="email[]">
            </div>
          </div>
          <button id="addEmailButton">Add Another Email</button>
          <input type="submit" class="btn btn-info" value="Send Invites!">
        </form>

        <script>
          window.onload = (function() {
            const additionalEmail = document.getElementById('addEmailButton');

            const emailForm = `<div class="form-group">
                  <label for="email[]">Email Address:</label>
                  <input type="email" name="email[]" id="email[]">

                </div>`

            additionalEmail.addEventListener('click', function(event) {
              event.preventDefault();

              const yeahBaby = document.getElementById('additionalEmails');
              let newEmail = document.createElement("div");
              newEmail.innerHTML = emailForm;
              yeahBaby.appendChild(newEmail);
            });
          })
        </script>
      <div>
        <a th:href="@{|/parties/edit/${party.id}|}" class="btn btn-primary">Edit Party</a>
        <a th:replace="partials/modalsUpdates :: modal"></a>
      </div>
    </div>

    <div th:replace="partials/scripts :: scripts"></div>

  </div>
  </div>
</section>

<footer><p layout:fragment="custom-footer">This is actually working</p></footer>
</html>
