<!DOCTYPE html>

<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" xmlns:th="http://www.w3.org/1999/html"
      layout:decorate="~{layout}">


<head>
    <meta charset="UTF-8">
    <title layout:fragment="title">My Party | Host View</title>
    <!--  <script src="https://code.jquery.com/jquery-2.2.4.min.js" integrity="sha256-BbhdlvQf/xTY9gja0Dq3HiwQF8LaCRTXxZKRutelT44=" crossorigin="anonymous"></script>-->

    <script src='https://api.mapbox.com/mapbox-gl-js/v2.3.1/mapbox-gl.js'></script>
    <link href='https://api.mapbox.com/mapbox-gl-js/v2.3.1/mapbox-gl.css' rel='stylesheet'/>
</head>

<section layout:fragment="content">
    <a href="/profile" class="btn btn-primary">Return to Profile</a>
    <div class="card text-center">
        <div class="card-header">
            Featured
        </div>
        <div class="card-body">
            <h1 class="card-title" th:text="${party.title}"></h1>
            <h3 class="card-text" th:text="${party.description}"></h3>
        </div>
    </div>

    <div class="d-flex justify-content-center">
        <div class="d-flex flex-column bd-highlight mb-3">
            <div class="p-2 bd-highlight" th:text="'Start Time: ' + ${party.startTime}"></div>
            <div class="p-2 bd-highlight" th:text="'End Time: ' + ${party.endTime}"></div>
            <div class="p-2 bd-highlight"
                 th:text="${party.location.addressOne} + ', ' + ${party.location.city}+ ', ' + ${party.location.state} + ', ' + ${party.location.zipcode}"
                 id="fullAddress"></div>

            <!--TODO: Add logic for show addressTwo if not null-->
            <div id='map' style='width: 100%; height: 40vh'></div>
        </div>
    </div>


    <div class="p-2 bd-highlight">
        <div class="container">
            <div class="row">
                <div class="col-lg-10 mt-5 mb-5">
                    <table id="example" class="table table-bordered" style="width: 100%">
                        <h1>Party Item Information</h1>
                        <thead>
                        <tr>
                            <th>Item</th>
                            <th>Quantity Requested</th>
                            <th>Quantity Remaining</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr th:each="partyItem: ${partyItems}">
                            <td th:text="${partyItem.key.item.name}">Item</td>
                            <td th:text="${partyItem.key.quantityRequired}">Quantity Requested</td>
                            <td th:text="${partyItem.value}">Quantity Remaining</td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>

    <!--  <div class="p-2 bd-highlight">-->
    <!--    <div class="container">-->
    <!--      <div class="row">-->
    <!--        <div class="col-lg-10 mt-5 mb-5">-->
    <!--         <table id="example2" class="table table-bordered" style="width: 100%">-->
    <!--            <h1>Guest Information</h1>-->
    <!--            <thead>-->
    <!--            <tr>-->
    <!--              <th>Name</th>-->
    <!--              <th>Email</th>-->
    <!--              <th>RSVP Status</th>-->
    <!--              <th>Guests Added</th>-->
    <!--&lt;!&ndash;              <th>Item Bringing</th>&ndash;&gt;-->
    <!--&lt;!&ndash;              <th>Quantity Bringing</th>&ndash;&gt;-->
    <!--            </tr>-->
    <!--            </thead>-->
    <!--            <tbody>-->
    <!--            <tr th:each="guest : ${guests}">-->
    <!--              <td th:text= "${guest.key.firstName} + ' ' + ${guest.key.lastName}">Name</td>-->
    <!--              <td th:text= "${guest.key.email}">Email</td>-->
    <!--              <td th:text= "${guest.key.rsvpStatus}">RSVP Status</td>-->
    <!--              <td th:text= "${guest.key.additionalGuests}">Guests Added</td>-->
    <!--&lt;!&ndash;              <td th:block th:if="${itemBringer.quantity != 0}"&ndash;&gt;-->
    <!--&lt;!&ndash;              th:text="'Item Bringing: ' + ${itemBringer.partyItem.item.name}"&ndash;&gt;-->
    <!--&lt;!&ndash;              th:text="'Quantity Bringing: ' + ${itemBringer.quantity}"></td>&ndash;&gt;-->
    <!--            </tr>-->
    <!--            </tbody>-->
    <!--          </table>-->
    <!--        </div>-->
    <!--      </div>-->
    <!--    </div>-->
    <!--  </div>-->
    <div th:each="partyMember : ${partyMembers}">
        <div th:text="'Name: ' + ${partyMember.key.member.firstName} + ' ' + ${partyMember.key.member.lastName}"></div>
        <div th:text="'Email: ' + ${partyMember.key.member.email}"></div>
        <div th:text="'RSVP Status: ' + ${partyMember.key.rsvpStatus}"></div>
        <div th:text="'Additional Guests Bringing: ' + ${partyMember.key.additionalGuests}"></div>

        <div th:each="itemBringer : ${partyMember.value}">
            <th:block th:if="${itemBringer.quantity != 0}">
                <div th:text="'Item Bringing: ' + ${itemBringer.partyItem.item.name}"></div>
                <div th:text="'Quantity Bringing: ' + ${itemBringer.quantity}"></div>
            </th:block>
        </div>
        <br>
    </div>


    <div class="row">
        <div class="col-sm-6">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">Send Invites</h5>
                    <p class="card-text">
                    <form th:action="@{|/parties/${party.urlKey}|}" th:method="post">
                        <div id="additionalEmails">
                            <div class="form-group">
                                <label for="email[]">Email Address:</label>
                                <input type="email" name="email[]" id="email[]">
                            </div>
                        </div>
                        <button id="addEmailButton">Add Another Email</button>
                        <script>
                            window.onload = (function () {
                                const additionalEmail = document.getElementById('addEmailButton');

                                const emailForm = `<div class="form-group">
                  <label for="email[]">Email Address:</label>
                  <input type="email" name="email[]" id="email[]">
                </div>`


                                additionalEmail.addEventListener('click', function (event) {
                                    event.preventDefault();

                                    const yeahBaby = document.getElementById('additionalEmails');
                                    let newEmail = document.createElement("div");
                                    newEmail.innerHTML = emailForm;
                                    yeahBaby.appendChild(newEmail);
                                });
                            })
                        </script>

                    </form>
                    <input type="submit" class="btn btn-info" value="Send Invites!"></div>


            </div>
        </div>

        <!--Generate Map Information -->
        <script src="/keys.js"></script>
        <script src="/js/jquery.js"></script>
        <script src="/js/mapbox-geocoder-utils.js"></script>
        <script>
            const address = $("#fullAddress").html();
            console.log(address);
            geocode(address, mapboxApiKey).then(function (result) {
                mapboxgl.accessToken = mapboxApiKey;

                var map = new mapboxgl.Map({
                    container: 'map',
                    style: 'mapbox://styles/mapbox/streets-v9',
                    zoom: 15,
                    center: (result)
                });

                var marker = new mapboxgl.Marker({
                    draggable: true
                }).setLngLat(result).addTo(map);

            });
        </script>

        <div>
            <a th:href="@{|/parties/edit/${party.id}|}" class="btn btn-primary">Edit Party</a>
            <a th:replace="partials/modalsUpdates :: modal"></a>
        </div>
    </div>
    <div th:replace="partials/scripts :: scripts"></div>

</section>
</html>
