<!DOCTYPE html>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" xmlns:th="http://www.w3.org/1999/xhtml"
      layout:decorate="~{layout}">
<head>
<meta charset="UTF-8"/>
<title layout:fragment="title">myParty | Login</title>
    <link href="/success.css" rel="stylesheet"/>
</head>


<section layout:fragment="content">


    <div class="d-flex justify-content-center">

        <div class="d-flex flex-column bd-highlight mb-3">
            <div class="mx-auto" style="width: 100px;">
                <img src="/img/MP.png" class="img-fluid" alt="small logo">

            </div>

            <div class="p-2 bd-highlight"><h1 class="neonText">Log In</h1></div>

            <div th:if="${param.error}">Invalid Username and Password.</div>
            <div th:if="${param.logout}">You have been logged out.</div>

            <div class="p-2 bd-highlight">

                <form th:action="@{/login}" method="post" class="form-signin">

                    <div class="p-2 bd-highlight" style="color: white"><label for="username" autofocus="true">Username</label></div>
                    <input id="username" name="username" type="text"/>
                    <div class="p-2 bd-highlight" style="color: white"><label for="password">Password</label></div>
                    <input id="password" name="password" type="password"/>
                    <div class="p-2 bd-highlight"><input type="submit" value="Log In"/></div>
                </form>
                <a class="text-info" th:href="@{/member/forgotpassword}">Forgot Password?</a>

            </div>
            <div class="p-2 bd-highlight"><a class="text-info" href="/sign-up">Don't have an account? Sign up here</a>


            </div>
        </div>
    </div>
    </div>
</section>
<footer layout:fragment="footer"></footer>

</html>
