<!DOCTYPE html>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{layout}">
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title layout:fragment="title" >myParty | Profile</title>

<section layout:fragment="content">
    <div class="container">
        <div class="hero-unit">
            <h1>My Party Profile</h1>

            <div>
                <p>
                <div th:text="${owner.username}"></div>
                <div th:text="${owner.email}"></div>
                </p>
                <p>
                    <a th:href="@{|/members/editProfile/${owner.id}|}" class="btn btn-primary">Edit Profile</a>
                    <a th:replace="partials/deleteProfileModal :: modal"></a>

                </p>
            </div>

            <div th:replace="partials/scripts :: scripts"></div>

            <div class="row g-4 py-5 row-cols-1 row-cols-lg-3">
                <div class="feature col">
                    <h2>Featured title</h2>
                    <p>Paragraph of text beneath the heading to explain the heading. We'll add onto it with another sentence and probably just keep going until we run out of words.</p>
                    <a href="#" class="icon-link">
                        Call to action
                        <svg class="bi" width="1em" height="1em"><use xlink:href="#chevron-right"></use></svg>
                    </a>
                </div>
            <div class="justify-content" th:each="party : ${owner.party}">
                <div class="card text-center" style="width: 18rem;">
                    <div class="card-body">
                        <h5><a th:text="${party.title}" class="card-title" th:href="@{|/member/${party.urlKey}/view|}"></a></h5>
                        <p th:text="${party.description}" class="card-text"></p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<footer><p layout:fragment="footer"></p></footer>
</html>