<!DOCTYPE html>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{layout}">
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title layout:fragment="title" >myParty | Profile</title>

<section layout:fragment="content">
    <div class="container">
        <div class="hero-unit">
            <h1>My Party Profile</h1>

            <div>
                <p>
                <div th:text="${owner.username}"></div>
                <div th:text="${owner.email}"></div>
                </p>
                <p>
                    <a th:href="@{|/members/editProfile/${owner.id}|}" class="btn btn-primary">Edit Profile</a>
                    <a th:replace="partials/deleteProfileModal :: modal"></a>

                </p>
            </div>

            <div th:replace="partials/scripts :: scripts"></div>


            <h5>Parties Created</h5>
            <!--Display Parties Created -->
            <div class="justify-content" th:each="party : ${owner.party}">
                <div class="card text-center" style="width: 18rem;">
                    <div class="card-body">
                        <h5><a th:text="${party.title}" class="card-title" th:href="@{|/member/${party.urlKey}/view|}"></a></h5>
                        <p th:text="${party.description}" class="card-text"></p>
                    </div>
                </div>
            </div>

            <h5>Parties Attending</h5>
            <!--Display Parties Attending-->
            <div class="justify-content" th:each="partyMember : ${partyMembers}">
                <div class="card text-center" style="width: 18rem;">
                    <div class="card-body">
                        <h5><a th:text="${partyMember.party.title}" class="card-title" th:href="@{|/rsvp/${partyMember.party.urlKey}/member/${partyMember.partyMemberKey}/view|}"></a></h5>
                        <!--                        @{|/rsvp/${partyMember.party.urlKey}/member/${partyMember.partyMemberKey}/view|}-->
                        <p th:text="${partyMember.party.description}" class="card-text"></p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<footer><p layout:fragment="footer"></p></footer>
</html>