<!DOCTYPE html>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{layout}">
<title layout:fragment="title">myParty | Profile</title>

<section layout:fragment="content">

    <div>
        <h1 th:text="${owner.username}"></h1>
        <div th:text="${owner.email}"></div>
    </div>

    <div class="card-body" th:each="party : ${party}">
        <h5 th:text="${party.title}" class="card-title"></h5>
        <p th:text="${party.description}" class="card-text"></p>
    </div>

</section>

<footer><p layout:fragment="custom-footer">This is actually working</p></footer>
</html>