<!DOCTYPE html>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{layout}">

<meta charset="UTF-8"/>
<title layout:fragment="title">myParty | Reset Password</title>

<section layout:fragment="content">

    <h1>Reset Your Password</h1>

<!--    TODO: change th:action-->
    <form th:action="@{|/member/resetpassword/${token}|}" th:method="post">
        <div class="form-group">
        <label for="password">Enter new password:</label>
        <input name="password" id="password" type="password">
        </div>
        <div class="form-group">
            <label for="confirm-password">Confirm new password:</label>
            <input name="confirm-password" id="confirm-password" type="password">
        </div>
        <input type="submit" value="Reset">
    </form>

</section>
<footer><p layout:fragment="custom-footer">This is actually working</p></footer>
</html>

<!--<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">-->

<!--<meta charset="UTF-8"/>-->
<!--<title >myParty | Reset Password</title>-->

<!--<section>-->

<!--    <h1>Reset Your Password</h1>-->

<!--    &lt;!&ndash;    TODO: change th:action&ndash;&gt;-->
<!--    <form th:action="@{/sign-up}" method="POST" th:object="${member}">-->

<!--        <label for="password">Password</label>-->
<!--        <input id="password" type="password" th:field="*{password}"/>-->

<!--        <input value="Reset" type="submit"/>-->
<!--    </form>-->
<!--</section>-->
<!--<footer><p>This is actually working</p></footer>-->
<!--</html>-->