<!DOCTYPE html>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{layout}" lang="en">
<head>
    <title layout:fragment="title">myParty | 403 Error</title>
</head>
<body>
<section layout:fragment="content">

    <div class="container-fluid">
    <img src="/img/403.png" class="img-fluid" alt="Responsive image">
    </div>
<!--    <h1>403 Error</h1>-->
<!--    <h1>Forbidden Error</h1>-->
<!--    <h5>You may not have permission to view this page!</h5>-->

</section>
</body>
</html>
